/*
    --darkGreen: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --gray: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --head: 2rem;
    --text: 1rem;
*/
/* @import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap"); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(30, 38%, 92%);
}

.card_box{
    margin: 1em 2em;
    /* max-width: 400px; */
    background-color: white;
    border-radius: 1.5em;
    display: flex;
    max-width: 700px;
}

img{
    max-width: 100%;
}

.img{
    display: flex;
    max-width: 700px;
}

.mug{
    display: block;
    width: 900px;
    height: 100%;
    border-radius: 1.5em;
}

.text{
    text-align: left;
    margin:1.5em 2em;
}

.product{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 500;
}

.title{
    width: 80%;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Fraunces", serif;
    line-height: 1;
    margin: 0.6em 0 0.7em 0;
}

.description{
    font-family: "Montserrat", sans-serif;
    width: 96%;
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin-bottom: 1.5em;
}

.green{
    margin-right: 0.3em;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: 700;
    font-family: "Fraunces", serif;
    line-height: 1;
    margin: 0.6em 0 0.7em 0;
}

.strike{
    font-family: "Montserrat", sans-serif;
    width: 96%;
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin-bottom: 1.5em;
    text-decoration: line-through;
}

.btn{
    display: block;
    margin: 2em 0 1em 0;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 1em 0;
    color: white;
    border: 0;
    border-radius: 0.7em;
    outline: none;
    cursor: pointer;
}

.btn_span{
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 96%;
    font-size: 1rem;    
    font-weight: 500;
    margin-bottom: 1.5em;
}